@font-face {
  font-family: "hack";
  src: url("./fonts/hack/Hack-Regular.ttf");

}

@font-face {
  font-family: "stat";
  src: url("./fonts/Staatliches/Staatliches-Regular.ttf");
}

html, body {
  font-size: 18px;
  color: #FFF;
  font-family: arial,sans-serif;
  width: 100%;
  height: 100%;
  margin: auto;
  text-shadow: 2px 1px #000000;
}

body {
  background: no-repeat fixed 50% 0px / cover;
  background-image:linear-gradient(#3A3A3A,#3A3A3A) ;
  width: 100% !important;
}

strong, p a {
  color: #4060B7;
}

p a {
  text-decoration: none;
}

hr {
  background-color: #3A3A3A;
  color: #FFF;
  margin: 1vh 0vw 2vh 0vw;
}

.titulo {
  color: #FFF;
  background-color: #4060B7;
  padding: 20px;
  border-radius: 5px;
  text-shadow: 0px 0px #3A3A3A;
  font-family:Arial,sans-serif;
  font-size: 3vw;
}

.subtitulo {
  color: #FFF;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 3vw;
  margin: 0px
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: auto;
  width: 80%;
}

.menu {
  display: flex;
  flex-flow:row;
  background-color:#4060B7;
  width: 120%;
  border-radius: 5px;
}

.menu ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.menu li {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 18px;
}

.menu li a{
  color: #FFF;
  text-decoration: none;
  font-weight: bolder;
  font-size: 18px;
  text-shadow: 0px 0px #000;
}

.menu li:hover {
  transition: all 0.5s ease-in-out;
  background-color: #3A3A3A;
}

.menu li:hover > a {
  transition: all 0.5s ease-in-out;
  color:#4060B7;
}

.topo {
  display: flex;
  flex-direction:column;
  align-items: center;
  align-content: center;
}

.bio {
  font-size: 20px;
  text-indent: 1.25cm;
  text-align: justify;
  margin-top: 2px;
}

.conteudo-topo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.corpo {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.linha {
  display: flex;
  flex-flow:row nowrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}

.linhav{
  display: flex;
  flex-flow:row nowrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}
.linhav2{
  display: flex;
  flex-flow:row nowrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}
.coluna {
  display: flex;
  flex-flow:column nowrap;
  align-items: center;
  border-radius: 5px;
  padding: 5px 5px;

}


.hover:hover {
  transition: all 0.5s ease-in-out;
  background-color: #ffffff36;
}

.img-perfil img {
  border-radius: 50%;
}

.info {
  margin: 0px 20px;
}

.rodape {
  margin-top: 50px;
  width: 100%;
  text-align: center;
background-color: #4060B7;
  color: #FFF;
  font-weight: bolder;
  border-radius: 5px;
}

.titulo-info {
  color:  #4060B7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.formulario {
  width: 100%;
}

.formulario .linha {
  width: 100%;
  margin: 20px 0px;
}

.formulario .coluna {
  width: 100%;
  padding: 10px 0px;
}

.formulario label {
  font-weight: bolder;
  color: #4060B7;
}

.formulario input {
  width: 80%;
  height: 35px;
  color: #000;
  font-size: 18px;
}

.formulario input:focus {
  background-color: #fff;
  color: #000000;
}

.formulario input:focus::placeholder {
  background-color: #FFF;
  color: #FFF;
}


.formulario button {
  width: 91%;
  height: 55px;
  background-color:#4060B7;
  color:#fff;
  font-weight: bolder;
  font-size: 18px;
}

.formulario button:hover {
  background-color:  #fff;
  color: #4060B7;
  transition: all 0.5s ease-in-out;
}

@media(max-width: 1000px) {
  html, body {
    width: 100%;
    height: 100;
    margin: auto;
  }
  .container {
    width: 100%;
  }
  .titulo {
    font-size: 30px;
  }
  .subtitulo {
    font-size: 26px;
  }
  .linha {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}